body {
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  font-size: 0;
  text-align: center;
  width: 852px; /* Container's dimensions */
  height: 480px;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.trick {
  display: inline-block;
  vertical-align: middle;
  height: 480px;
}

.ghana-text {
  text-align: center;
  position: center;
  font-family: "Times New Roman", Times, serif;
  color: #ff0000;
}

.important {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: #0e4d92;
}
