h1 {
  font-size: 50px;
  font-family: Arial;
}

.jumboHeaderImg {
  background-image: url(/image/ghana-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
