body {
  font-family: Arial, Helvetica, sans-serif;
}

.ghana-image {
  background-image: url(/image/ghana-image.jpg);
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ghana-text {
  text-align: center;
  position: center;
  font-family: "Times New Roman", Times, serif;
  color: #ff0000;
}

.important {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: #0e4d92;
}
